body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    font-weight: 400;
}

.main-header {
    background-color: #FF3B3F;
    color: #fff;
    overflow: hidden;
    padding: 2rem;
    margin-top: 0;
    height: 50px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header h1 {
    font-family: 'Poiret One', sans-serif;
    line-height: 1;
    z-index: 555;
    font-size: 4rem;
    margin-top: 40px;
    max-width: 90%;
}

.main-header a {
    color: white;
    text-decoration: none;
}

.main-content {
    padding: 8rem 0.5rem 0.5rem 0.5rem;
    background-color: #CAEBF2;
   
}

.search-page {
    text-align: center;
}

.search-page__input {
    border: none;
    padding: 0.2em;
    margin-right: 1em;
    font-size: 20px;
    border-radius: 12px;
    outline: none;
    text-align: center;
}
.search-page__button {
    border: none; 
    background-color: #FF3B3F;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 12px;
    padding: 5px;
    outline: none;
}

/*user styles */

.user-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:10px;
    max-width: 100%;
}

.user-info__avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 1em;
    display: flex;
    flex-direction: row;
}

.user-info__text {
    text-decoration: none;
    flex: 1;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.user-info__title {
    font-size: 20px;
}

.user-info__title, .user-info__bio {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #696969;
    margin-left: 0;
}

.user-info__stats {
    list-style: none;
    padding: 0;
    flex: 1;
    display: flex;
}

.user-info__stats a {
    color: #000;
    text-decoration: none;
    text-transform: lowercase;
    font-variant: small-caps;
    text-align: center;
    background-color: black;
}

.user-info__stat {
    flex: 1;
}

.user-info__stat p {
    margin: 0;
    white-space: nowrap;
}

.user-info__stat-value, .user-info__stat-name {
    color: #696969;
    font-size: 1.3rem;
}

 /*GithubUser styles*/

 .githubUserDisplay {
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
     align-items: center;
     height: 100px;
     width: 20vw;
     margin: 25px;
 }

 .githubUser-name {
     display: flex;
     text-decoration: none;
     color: black;
     padding-left: 25px;
     font-size: 1rem;
 }
 
 .githubUser-avatar {
     display: flex;
     width: 100px;
     border-radius: 100px;
 }
 
 /*GthubRepo styles*/ 
 
 .githubReposDisplay {
     display: flex;
     flex-direction: row;
 }
 
 .githubRepoLink  {
     color: #696969;
 }

 .repoStargazers {
     color: #FFFFFF;
     background-color: #FF3B3F;
     border-radius: 8px;
     margin: 0 0 0 25px;
     padding: 0;
     height: 1rem;
     padding: 7px;
 }
 
 .repoStargazers p {
     padding: 0;
     margin: 0;
 }
 
 /*component styles */
 
 .followers-page, .repos-page, .following-page {
     padding: 30px 0 30px 30px;
     color: #696969;
     background-color: white;
     border-radius: 15px;
 }
 
 .followers-page a, .following-page a, .repos-page a {
     text-decoration: none;
 }
 
 
