body {
    font-family: Helvetica;
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    font-weight: 400;
}

a {
    color: black;
    text-decoration: none;
}

.main-header {
    background-color: #222;
    color: #fff;
    overflow: hidden;
    padding: 0.5rem;
}

.main-header h1 {
    line-height: 1;
    margin: 0;
    font-weight: 400;
}

.main-header a {
    color: white;
    text-decoration: none;
}

.main-content {
    padding: 0.5rem;
}





.search-page {
    text-align: center;
}

.search-page__input {
    border: 1px solid black;
    padding: 0.2em;
    margin-right: 1em;
    font-size: 20px;
}
.search-page__button {
    border: 1px solid black;
    background-color: #fff;
    font-size: 20px;
}





.user-info {
    display: flex;
    flex-wrap: wrap;
}

.user-info__avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 1em;
    float: left;
}

.user-info__text {
    text-decoration: none;
    flex: 1;
}

.user-info__title {
    font-size: 20px;
}

.user-info__title, .user-info__bio {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-info__stats {
    list-style: none;
    padding: 0;
    flex: 1;
    display: flex;
}

.user-info__stats a {
    color: #000;
    text-decoration: none;
    text-transform: lowercase;
    font-variant: small-caps;
    text-align: center;
}

.user-info__stat {
    flex: 1;
}

.user-info__stat p {
    margin: 0;
    white-space: nowrap;
}

.followers-header, .following-header, .repos-header {
    display: flex;
    justify-content: center;
}

.followers-scroll, .following-scroll, .repos-scroll {
    display: flex;
    justify-content: center;
}

.user-img {
    height: 45px;
    border-radius: 50%;
    margin: 0 1rem;
}

.user-div {
    width: 20rem;
    border: black 0.1rem solid;
    margin: 0.2rem 0;
    padding: 0.3rem 0;
    background-color: dimgray;
}

.link-user-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.repo-div {
    width: 35rem;
    display: flex;
    border: black 0.2rem solid;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0.5rem 0;
    background-color: mintcream;
}

.loading-div {
    display: flex;
    justify-content: center;
}

.repo-div a {
    margin: 0 0.5rem;
}

.repo-star {
    margin: 0 0.4rem;
}